.movies-card-list {
  max-width: 1140px;
  margin: 0 auto;
  padding-top: 70px;
}

.movies-card-list__error {
  font-family: var(--font-primary);
  text-align: center;
  font-size: 22px;
  color: var(--color-red-1);
}

@media screen and (max-width: 550px) {
  .movies-card-list {
    padding-top: 40px;
  }
}

.movies-card-list__wrapper {
  padding: 0;
  margin: 0;
  width: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, 270px);
  column-gap: 20px;
  row-gap: 32px;
  justify-content: center;
}

@media screen and (max-width: 1280px) {
  .movies-card-list {
    max-width: calc(100% * (1140 / 1280));
  }
}

@media screen and (max-width: 954px) {
  .movies-card-list {
    max-width: calc(100% * (708 / 768));
  }

  .movies-card-list__wrapper {
    grid-template-columns: repeat(auto-fit, 339px);
    column-gap: 30px;
    row-gap: 36px;
  }
}

@media screen and (max-width: 767px) {
  .movies-card-list {
    max-width: calc(100% * (300 / 320));
  }

  .movies-card-list__wrapper {
    grid-template-columns: 1fr;
    row-gap: 20px;
    justify-items: center;
  }
}

.movies-card-list__more_button-wrapper {
  width: 100%;
  min-height: 170px;
}

.movies-card-list__more-button {
  width: 100%;
  border: none;
  border-radius: 6px;
  height: 36px;
  background-color: var(--color-grey-light-5);
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 500;
  margin: 80px 0 79px 0;
}

@media screen and (max-width: 954px) {
  .movies-card-list__more-button {
    margin-top: 82px;
  }
}

.movies-card-list__more-button_hidden {
  display: none;
}
