.movies-card-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 32px;
  max-width: 1140px;
  margin: 0 auto;
  padding-top: 70px;
}

.movies-card-list__more-button {
  width: 100%;
  border: none;
  border-radius: 6px;
  height: 36px;
  background-color: var(--color-grey-light-5);
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 500;
  margin: 49px 0 79px 0;
}
