.movies-card-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 32px;
  max-width: 1140px;
  margin: 0 auto;
  padding-top: 70px;
  justify-content: center;
}

@media screen and (max-width: 1280px) {
  .movies-card-list {
    max-width: calc(100% * (1140 / 1280));
  }
}

@media screen and (max-width: 954px) {
  .movies-card-list {
    max-width: calc(100% * (708 / 768));
    column-gap: 30px;
    row-gap: 36px;
  }
}

.movies-card-list__more_button-wrapper {
  width: 100%;
  min-height: 139px;
}

@media screen and (max-width: 954px) {
  .movies-card-list__more_button-wrapper {
    min-height: 135px;
  }
}

.movies-card-list__more-button {
  width: 100%;
  border: none;
  border-radius: 6px;
  height: 36px;
  background-color: var(--color-grey-light-5);
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 500;
  margin: 49px 0 79px 0;
}

@media screen and (max-width: 954px) {
  .movies-card-list__more-button {
    margin-top: 46px;
  }
}

.movies-card-list__more-button_hidden {
  display: none;
}
