.about-me {
  width: 100%;
}

.about-me__wrapper {
  max-width: 1140px;
  min-height: 1079px;
  margin: 0 auto;
  font-family: var(--font-primary);
  padding-top: 89px;
  box-sizing: border-box;
}

@media screen and (max-width: 1280px) {
  .about-me__wrapper {
    max-width: calc(1140 / 1280 * 100%);
    min-height: 994px;
    padding-top: 70px;
  }
}

@media screen and (max-width: 768px) {
  .about-me__wrapper {
    max-width: calc(668 / 768 * 100%);
    min-height: 994px;
    padding-top: 70px;
  }
}

@media screen and (max-width: 550px) {
  .about-me__wrapper {
    max-width: calc(292 / 320 * 100%);
    min-height: 1198px;
    padding-top: 46px;
  }
}

.about-me__two-rows-wrapper {
  margin-top: 66px;
  display: grid;
  grid-template-columns: 53% 1fr;
}

@media screen and (max-width: 768px) {
  .about-me__two-rows-wrapper {
    grid-template-columns: 54% 1fr;
  }
}

@media screen and (max-width: 550px) {
  .about-me__two-rows-wrapper {
    margin-top: 62px;
    grid-template-columns: 1fr;
    gap: 40px;
  }
}

.about-me__title {
  margin: 0;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px; /* 116% */
  letter-spacing: -2px;
}

@media screen and (max-width: 768px) {
  .about-me__title {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1.6px;
  }
}

@media screen and (max-width: 550px) {
  .about-me__title {
    font-size: 30px;
    letter-spacing: -1.2px;
    line-height: normal;
  }
}

.about-me__subtitle {
  margin: 18px 0 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

@media screen and (max-width: 768px) {
  .about-me__subtitle {
    margin-top: 16px;
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 550px) {
  .about-me__subtitle {
    margin-top: 17px;
    font-size: 11px;
    line-height: 16px;
  }
}

.about-me__text {
  margin: 26px 0 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

@media screen and (max-width: 768px) {
  .about-me__text {
    margin-top: 20px;
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 550px) {
  .about-me__text {
    margin-top: 20px;
    font-size: 11px;
    line-height: 16px;
  }
}

.about-me__link {
  display: inline-block;
  margin: 99px 0 0;
  color: var(--color-primary);
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}

@media screen and (max-width: 768px) {
  .about-me__link {
    margin-top: 88px;
  }
}

@media screen and (max-width: 550px) {
  .about-me__link {
    margin-top: 40px;
  }
}

.about-me__photo {
  max-width: 270px;
  height: 327px;
  object-fit: cover;
  justify-self: end;
}

@media screen and (max-width: 768px) {
  .about-me__photo {
    max-width: 82.5%;
    height: auto;
  }
}

@media screen and (max-width: 550px) {
  .about-me__photo {
    max-width: 100%;
    width: 292px;
    height: 352px;
    order: -1;
    justify-self: center;
  }
}

.about-me__portfolio {
  margin-top: 101px;
}

@media screen and (max-width: 768px) {
  .about-me__portfolio {
    margin-top: 90px;
  }
}

@media screen and (max-width: 550px) {
  .about-me__portfolio {
    margin-top: 70px;
  }
}
