.nav-tab {
  width: 100%;
  background-color: var(--color-grey-light-1);
  min-height: 66px;
}

.nav-tab__wrapper {
  max-width: 1280px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  min-height: 66px;
  gap: 40px;
}

.nav-tab__link {
  font-family: var(--font-primary);
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  color: var(--color-primary);
  margin: 0;
}
